{% extends 'base-2.html' %} 
{% block title %} Cập nhật khoản chi {% endblock title %}
<!--block breadcrumb-->
{%block breadcrumb %}
<div class="content-breadcrumb">
  <ul class="breadcrumb">
    <li>
      <a href="{{ url_for('core.home', user_id=current_user.id) }}"
        >Trang chủ</a
      >
    </li>
    <li><a href="#">{{ current_user.username }}</a></li>
    <li><a href="{{ url_for('users.expense', user_id=user_id) }}">Các khoản chi</a></li>
    <li>Cập nhật khoản chi</li>
  </ul>
</div>
{% endblock breadcrumb %}
<!--block breadcrumb-->
{%block content %}
<div class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="card hovercard">
          <div class="cardheader-add-wallet"></div>
          <div class="avatar">
            <a href="#">
              <img
                alt=""
                src="{{ url_for('static', filename='icons/expenses-icon.svg') }}"
              />
            </a>
          </div>
          <div class="info">
            <div class="title">
              <p><h4 class="color">Cập nhật khoản chi</h4></p>
            </div>
            <div class="container" align="left">
              <form method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col-sm-6">
                    <label class="form-label" for="name">Tên khoản chi</label>
                    {{form.name(class="form-control") }} {{ render_error(form.name) }}
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="date">Thời gian</label>
                    {{form.date(class="form-control", placeholder="YYY-mm-dd") }} {{ render_error(form.date) }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label class="form-label" for="description">Mô tả</label>
                    {{form.description(class="form-control") }} {{
                    render_error(form.description) }}
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-sm-6">
                    <label class="form-label" for="amount">Số tiền</label>
                    {{form.amount(class="form-control", type="string", id="moneyInput") }} {{ render_error(form.amount) }}
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="item_id">Danh mục</label>
                    {{form.item_id(class="form-control") }} {{ render_error(form.item_id) }}
                  </div>
                </div> 
                <div class="col-12 button-center">{{ form.submit(class="btn btn-primary", value="Cập nhật") }}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock content %}

