{% extends 'base-2.html' %} 
{% block title %} Thêm ngân sách {% endblock title %}
<!--block breadcrumb-->
{%block breadcrumb %}
<div class="content-breadcrumb">
  <ul class="breadcrumb">
    <li>
      <a href="{{ url_for('core.home', user_id=current_user.id) }}"
        >Trang chủ</a
      >
    </li>
    <li><a href="#">{{ current_user.username }}</a></li>
    <li><a href="{{ url_for('users.wallet', user_id=current_user.id) }}"></a> {{ wallet.name }}</li>
    <li>Thêm ngân sách</li>
  </ul>
</div>
{% endblock breadcrumb %}
<!--block breadcrumb-->
{%block content %}
<div class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="card hovercard">
          <div class="cardheader-wallet"></div>
          <div class="avatar">
            <a href="#">
              <img
                alt=""
                src="{{ url_for('static', filename='icons/wallet-icon.svg') }}"
              />
            </a>
          </div>
          <div class="info">
            <div class="title"><p><h4 class="color">Thêm ngân sách</h4></p></div>
            <div class="container" align="left">
              <form method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                  <div class="col-sm-12">
                    <label class="form-label" for="balance">Thêm vào</label>
                    {{form.balance(class="form-control") }} {{
                    render_error(form.balance) }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label class="form-label" for="description">Miêu tả</label>
                    {{form.description(class="form-control") }} {{
                    render_error(form.description) }}
                  </div>
                </div>
                <div class="col-12 button-center">
                  {{ form.submit(class="btn btn-primary", value="Thêm") }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
{% endblock content %}
