{% extends 'base-1.html' %} {% block title %} Quản lý chi tiêu {% endblock title
%} {% block card_image %}
<img
  src="{{ url_for('static', filename='icons/index-background.svg') }}"
  class="card-img-top img-size"
/>
{% endblock card_image %} {% block card_title %}
<p>Quản Lý Chi Tiêu Cá Nhân</p>
{% endblock card_title %} {% block card_text %}
<p>Đăng nhập để bắt đầu sử dụng!</p>
{% endblock card_text %} {% block card_botton %}
<a href="{{ url_for('users.login') }}" class="btn btn-primary">Đăng Nhập</a>
<br />
<br />
<p>
  Nếu bạn chưa có tài khoản,
  <a href="{{ url_for('users.register') }}">đăng ký</a>!
</p>
{% endblock card_botton %}
