{% extends 'base-1.html' %} {% block title %} Đăng nhập {% endblock title %} {%
block card_image %}
<img
  src="{{ url_for('static', filename='icons/login-icon.svg') }}"
  class="card-img-top img-size-login"
/>
{% endblock card_image %} {% block card_title %}
<p>Đăng Nhập</p>
{% endblock card_title %} {% block card_text %}
<p>
  Nếu bạn chưa có tài khoản,
  <a href="{{ url_for('users.register') }}">đăng ký</a>!
</p>
<div class="col-sm-12" align="left">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.email.label(class="form-label") }} {{
      form.email(class="form-control") }} {{ render_error(form.email) }}
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Mật Khẩu</label>
      {{form.password(class="form-control") }} {{ render_error(form.password) }}
    </div>
    <div class="col-12 button-center">
      {{ form.submit(class="btn btn-primary",value='Đăng Nhập') }}
    </div>
  </form>
</div>
{% endblock card_text %} {% block card_botton %}
<a href="{{ url_for('core.index') }}">Quay về trang chủ</a>
{% endblock card_botton %}
