{% extends 'base-2.html' %} 
{% block title %} Ví {% endblock title %} 
<!--block breadcrumb-->
{%block breadcrumb %}
<div class="content-breadcrumb">
  <ul class="breadcrumb">
    <li>
      <a href="{{ url_for('core.home', user_id=current_user.id) }}"
        >Trang chủ</a
      >
    </li>
    <li><a href="#">{{ current_user.username }}</a></li>
    <li>Ví</li>
  </ul>
</div>
{% endblock breadcrumb %}
<!--block breadcrumb-->
<!--block content-->
{%block content %}
<div class="content-home">
  <div class="container">
    <div class="row">
    <!--list all wallets-->
    {% for wallet in wallets %}
      <div class="col-sm-3">
        <div class="card hovercard wallet">
          <div class="cardheader-wallet"></div>
          <div class="avatar">
            <a href="{{ url_for('wallets.manage', user_id=current_user.id, wallet_id=wallet.id) }}">
              <img
                alt=""
                src="{{ url_for('static', filename='icons/wallet-icon.svg') }}"
              />
            </a>
          </div>
          <div class="info">
            <div class="title">
              <h4 class="color">
                <a href="{{ url_for('wallets.manage', user_id=current_user.id, wallet_id=wallet.id) }}">
                  {{ wallet.name }}
                </a>
              </h4>
            </div>
            <div class="desc"><h5>Ngân sách</h5></div>
            <div class="desc"><h4><span>{{ "{:,.0f}".format(wallet.total_balance_by_date(now.strftime('%Y-%m'))) }}&#8363;</span></h4></div>
            <div class="desc"><h5>Còn lại</h5></div>
            <div class="desc"><h4><span>{{ "{:,.0f}".format(wallet.rest_balance_by_date(now.strftime('%Y-%m'))) }}&#8363;</span></h4></div>
            <div class="desc"></div>
          </div>
          <!--bottom options-->
          <div class="bottom row">
            <div class="col-sm-4">
              <a
              class="btn btn-primary btn-sm margin btn-icon"
              href="{{ url_for('wallets.add_balance',user_id=current_user.id, wallet_id=wallet.id) }}"
              >
                <i class="bi bi-plus-square"></i>
              </a>
            </div>
            <div class="col-sm-4">
              <a
              class="btn btn-primary btn-sm margin btn-icon"
              href="{{ url_for('wallets.update', user_id=current_user.id, wallet_id=wallet.id) }}"
              >
                <i class="bi bi-pencil"></i>
              </a>
            </div>
            <div class="col-sm-4">
              <a
              class="btn btn-danger btn-sm margin btn-icon"
              rel="publisher"
              href="{{ url_for('wallets.delete', wallet_id=wallet.id) }}" onclick="return confirm('Bạn có muốn xoá ví {{ wallet.name }}?');"
              >
                <i class="bi bi-trash"></i>
              </a>
            </div>
          </div>
          <!--bottom options-->
        </div>
      </div>
      <!--list all wallets-->
      {% endfor %}
      <!--Create wallet-->
      <div class="col-sm-3">
        <div class="card hovercard wallet">
          <div class="cardheader-add-wallet"></div>
          <div class="avatar">
            <a href="{{ url_for('wallets.create', user_id=current_user.id) }}">
              <img
                alt=""
                src="{{ url_for('static', filename='icons/add-icon.svg') }}"
              />
            </a>
          </div>
          <div class="info">
            <div class="title">
              <p><h4>Tạo ví mới</h4></p>
            </div>
          </div>
        </div>
      </div>
      <!--Create wallet-->
    </div>
  </div>
</div>
{% endblock content %}
<!--block content-->
